$_checkbox-size: 16px;
$_checkbox-inner: 12px;

.checkbox {
  position: absolute;
  outline: 0;
  opacity: 0;

  + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .checkbox-fake-input {
      display: flex;
      position: relative;
      width: rem($_checkbox-size);
      height: rem($_checkbox-size);
      border: 1px solid gray-color(50);
      border-radius: 3px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem($_checkbox-inner);
        height: rem($_checkbox-inner);
        content: '';
        background-color: theme-color(primary);
        border-radius: 3px;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: $transition-base;
      }
    }

    .checkbox-text {
      margin: rem(1.5px) 0 0 rem($spacing-xxs);
    }
  }

  &:hover,
  &:checked {
    + label {
      .checkbox-fake-input {
        &::before {
          transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
        }
      }
    }
  }
}
